<style>
  * {
    box-sizing: border-box;
  }

  .col-sm-12 {
    padding: 50px;
    /* background-color: green; */
    transition: transform .2s;
    /* width: 200px; */
    /* height: 200px; */
    margin: 0 auto;
  }

  .col-sm-12:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari 3-8 */
    transform: scale(1.2);
  }
</style>

<body>
  <div class="back-img">
    <div class="container">

      <div class="row">

        <div class="homecontent">
          <p>DIGITAL & TECHNOLOGY SOLUTIONS </p> &nbsp;
          <!-- <p>Digital & Technology Solutions </p> &nbsp; -->

          <h1> Making IT Work for your Business!,</h1> &nbsp;
          <h2>Helping you identify, implement,& Manage Technology!.</h2>

          <!-- <p>DIGITAL & TECHNOLOGY SOLUTIONS</p> &nbsp; -->
          <!-- <h1>Digital Technology,</h1> -->
        </div>

        <!-- <div class="homepagecontent">
  <p>Develop Experiences</p>
  <p>UI frameworks and app development tools that 1.2 Lack developers love!</p>
  </div> -->
      </div>
    </div>
  </div>



     <!-- <div class="second">
      <div class="row gy-5 total">

        <div class=" col-sm-12 col-md-6 col-lg-3 mb-2">
          <div class="card text-white bg-primary mb-3" style="max-width: 13rem;">
            <div class="card-header">Simple</div>
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <button href="#" class="btn"
                style="border-radius: 25px; background-color: white; color: rgb(85, 46, 4); font-weight: small; ">KNOW
                MORE<i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
          <div class="card text-white bg-secondary mb-3" style="max-width: 13rem;">
            <div class="card-header">Integrated</div>
            <div class="card-body">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <button href="#" class="btn"
                style="border-radius: 25px; background-color: white; color: rgb(85, 46, 4); font-weight: small; ">KNOW
                MORE<i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
          <div class="card text-white bg-success mb-3" style="max-width: 13rem;">
            <div class="card-header">Connected</div>
            <div class="card-body">
              <h5 class="card-title">Success card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <button href="#" class="btn"
                style="border-radius: 25px; background-color: white; color: rgb(85, 46, 4); font-weight: small; ">KNOW
                MORE<i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
          <div class="card text-white bg-danger mb-3" style="max-width: 13rem;">
            <div class="card-header">Secure</div>
            <div class="card-body">
              <h5 class="card-title">Danger card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <button href="#" class="btn"
                style="border-radius: 25px; background-color: white; color: rgb(85, 46, 4); font-weight: small; ">KNOW
                MORE<i class="bi bi-arrow-right-short"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    

    









    <!-- <div class="img">
  <img src="https://arosys.com/wp-content/uploads/2021/01/home-page-banner3.jpg" alt="loading">
  </div> -->
    <!-- <div class="img">
  <img src="https://www.codunite.com/images/web_development.png">
  </div> -->
 






  
      <!-- <div class="row bg-light position-relative" style="margin-left: 40px;">
        <div class="col-md-2">
          <img src="https://www.freeiconspng.com/thumbs/website-icon/website-icon-14.png"
            style="width:150px; height: 150px;" alt="...">
        </div>
        <div class="col-md-6 ">
          <h5 class="mt-md">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some
            real-world content would look like, and we're using it here to give the component a bit of body and size.
          </p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
      </div>
      <hr>

      <div class="row bg-light position-relative" style="margin-left: 40px;">
        <div class="col-md-2">
          <img src="https://www.freeiconspng.com/thumbs/website-icon/website-icon-14.png"
            style="width:150px; height: 150px;" alt="...">

        </div>
        <div class="col-md-6">
          <h5 class="mt-md">Columns with stretched link</h5>
          <p>Another instance of placeholder content for this other custom component. It is intended to mimic what some
            real-world content would look like, and we're using it here to give the component a bit of body and size.
          </p>
          <a href="#" class="stretched-link">Go somewhere</a>
        </div>
      </div> -->
  
</body>
 





<div class="testimonials-clean mt-5">
  <div class="container">
      <div class="intro">
          <h2 class="text-center">Our Reviews</h2>
          <p class="text-center">Our customers love us! Read what they have to say below.</p>
      </div>
      <div class="row people">
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu grav.</p>
              </div>
              <div class="author"><img class="rounded-circle" src="https://image.ibb.co/kvZgzz/1.jpg">
                  <h5 class="name">Ben Johnson</h5>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id.</p>
              </div>
              <div class="author"><img class="rounded-circle" src="https://image.ibb.co/dgDVsK/3.jpg">
                  <h5 class="name">Carl Kent</h5>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 item">
              <div class="box">
                  <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus.</p>
              </div>
              <div class="author"><img class="rounded-circle" src="https://image.ibb.co/fbCeme/2.jpg">
                  <h5 class="name">Emily Clark</h5>
              </div>
          </div>
      </div>
  </div>
</div>



 <app-about></app-about>
 <app-services></app-services>
 <app-contact></app-contact>
