<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<!-- <section class="contactDesign1">
    <form action="#">
        <section id="userInput">
            <h1 class="title">Write Us</h1>
            <hr>
            <div class="formInput"><label for="username">Name</label><input type="text"></div>
            <div class="formInput"><label for="email">Email</label><input type="email"></div>
            <div class="formInput">
                <label for="Verification" class="checky">Verification</label>
                <label class="checkbox">
                    <input type="checkbox"/>
                    <span class="overlay">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="10"
                            viewBox="0 0 20 20"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon">
                        <polyline points="20 6 9 17 4 12"/>
                        </svg>
                    </span>
                    </label>
                <span class="text">I am not a robot</span>
            </div>
        </section>
        <section id="userMessage">
            <label for="message">Message</label>
            <textarea name="message" placeholder="Write text here..."></textarea>
            <button>Send Message</button>
        </section>
    </form>
</section> -->
<section class="contactDesign2">
    <form action="#">
        <section class="contactInfo">
            <h1 class="title">Contact Us</h1>
            <ul class="contactDetails">
                <li><i class="fas fa-map-marker"></i>Chennai and Hyderabad</li>
                <li><i class="fas fa-envelope"></i>info@effectuate.tech</li>
                <li><i class="fas fa-user-circle"></i>Nishanth_Kathirvel</li>
                <li><i class="fas fa-mobile-alt"></i>+91 77023 02908</li>
            </ul>
            <ul class="socialMedia">
                <li><a href="https://twitter.com/Nishanth242002"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://instagram.com/boy_be_cool?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
                </li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </section>
        <section class="contactInput">
            <h1 class="title">Get in Touch</h1>
            <p>Feel free to drop a line below</p>
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Type your message here"></textarea>
            <button>Send</button>
        </section>
    </form>
</section>







<!-- <div class="row w-100">
        <div class="col-lg-6 my-4">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115681.29592731265!2d-77.47713270775661!3d25.0326996781907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x892f7c99b981dbc9%3A0x2aef01d3485e50d2!2sNassau%2C%20Bahamy!5e0!3m2!1spl!2spl!4v1624445118063!5m2!1spl!2spl"
            class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-lg-6 my-4 d-flex align-items-center">
          <div>
            <h6>This map is embedded in a 6 column layout</h6>
            <p>Try to resize your browser window - you will see that it starts to take up 12 columns on
              screens smaller than 992px.</p>
            <p>This useful feature helps to make your embedded map responsive (<strong>mobile
                friendly</strong>). You can customize responsive behavior with the use of <a
                href="https://mdbootstrap.com/docs/angular/layout/breakpoints/">breakpoints</a>.</p>
            <p>This text looks so nice because it's <strong>vertically centered</strong> you can achieve
              this effect using the <a
                href="https://mdbootstrap.com/docs/angular/layout/vertical-alignment/">vertical
                alignment</a> layout option.</p>
          </div>
        </div>
      </div> -->










<!-- <div class="col-lg-5">
        <div class="gmap_canvas ml-2">
            
        </div> 
            
        </div> -->

<section class=" container-fluid text-center">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled"><br>
                <li>
                    <i class="fas fa-map-marker-alt fa-2x text-primary"></i>
                    <p><small>New York, NY 10012, USA</small></p>
                </li><br>
                <li>
                    <i class="fas fa-phone fa-2x text-primary"></i>
                    <p><small>+ 01 234 567 89</small></p>
                </li><br>
                <li>
                    <i class="fas fa-envelope fa-2x text-primary"></i>
                    <p><small>contact@gmail.com</small></p>
                </li>
            </ul>
        </div>
    </div>
</section>


<div class="container-fluid text-center col-md-12">
    <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://maps.google.com/maps?width=700&amp;height=400&amp;hl=en&amp;q=No 1, Raghavendra Avenue, Pugal Complex M.G Pudur(P.O), Kuttaiyur, Karamadai, Tamil Nadu 641301&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe>
</div>

<div class="footer">
    <h5>Since 2019, Effectuate Tech Solutions Pvt ltd.</h5>
</div>