
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<div class="banner">
     
    <div class="content">
        <h1>Welcome to Effectuate Tech</h1>
        <h2>DIGITAL & TECHNOLOGY SOLUTIONS</h2>
        <h3>We are technology company providing digital transformation solutions to our Customers.</h3>
        <p>Subscribe, Effectuate Tech  Youtube Channel</p>
        <div>
            <a href="https://youtu.be/6h-YawTFgBI"><button type="button"><a href="https://youtu.be/6h-YawTFgBI"></a><span></span>WATCH MORE</button></a>
            <button type="button"  routerLink="home" ><span></span>GET STARTED-></button>
        </div>
    </div>
</div>






 
<section class="button">
<div class="searchBox">
<input class="searchInput"type="email" name="" placeholder="Email address*" required="">
<button class="searchButton" href="#">Notify Me</button>
</div>
<!-- </section>
<section class="social_icons">
<a href="#" title="Facebook" target="_blank"><i class="fas fa-facebook"></i></a>
<a href="#" title="Instagram" target="_blank"><i class="fas fa-instagram"></i></a>
<a href="#" title="Twitter" target="_blank"><i class="fas fa-twitter"></i></a>
<a href="#" title="Telegram" target="_blank"><i class="fas fa-telegram"></i></a>
</section> -->
 





